apiVersion: v1
kind: Service
metadata:
  labels:
    app: demo
  name: demo
spec:
  ports:
  - name: demo-svc-8080
    port: 8080
    protocol: TCP
    nodePort: 31111
    targetPort: 8080
  selector:
    app: demo
  type: NodePort
